In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (from sklearn) (0.24.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (0.17.0)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in /Users/robert/opt/anaconda3/lib/python3.8/site-packages (0.17.0)

In [3]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [4]:
df = pd.read_csv("exoplanet_data.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,koi_disposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,CONFIRMED,0,0,0,0,54.418383,2.479000e-04,-2.479000e-04,162.513840,0.003520,...,-81,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,FALSE POSITIVE,0,1,0,0,19.899140,1.490000e-05,-1.490000e-05,175.850252,0.000581,...,-176,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
2,FALSE POSITIVE,0,1,0,0,1.736952,2.630000e-07,-2.630000e-07,170.307565,0.000115,...,-174,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
3,CONFIRMED,0,0,0,0,2.525592,3.760000e-06,-3.760000e-06,171.595550,0.001130,...,-211,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
4,CONFIRMED,0,0,0,0,4.134435,1.050000e-05,-1.050000e-05,172.979370,0.001900,...,-232,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714

# Select your features (columns)

In [5]:
# Set features. This will also be used as your x values.
selected_features  = df[['koi_impact', 
                             'koi_duration', 
                             'koi_depth', 
                             'koi_prad',
                            'koi_period',
                            'koi_teq',
                            'koi_insol',
                            'koi_model_snr']]
selected_features

,koi_impact,koi_duration,koi_depth,koi_prad,koi_period,koi_teq,koi_insol,koi_model_snr
0,0.586,4.50700,874.8,2.83,54.418383,443,9.11,25.8
1,0.969,1.78220,10829.0,14.60,19.899140,638,39.30,76.3
2,1.276,2.40641,8079.2,33.46,1.736952,1395,891.96,505.6
3,0.701,1.65450,603.3,2.75,2.525592,1406,926.16,40.9
4,0.762,3.14020,686.0,2.77,4.134435,1160,427.65,40.2
...,...,...,...,...,...,...,...,...
6986,0.765,4.80600,87.7,1.11,8.589871,929,176.40,8.4
6987,1.252,3.22210,1579.2,29.35,0.527699,2088,4500.53,453.3
6988,0.043,3.11400,48.5,0.72,1.739849,1608,1585.81,10.6
6989,0.147,0.86500,103.6,1.07,0.681402,2218,5713.41,12.3
6990,0.134,3.07800,76.7,1.05,4.856035,1266,607.42,8.2

# Create a Train Test Split

Use `koi_disposition` for the y values

In [6]:
y = df["koi_disposition"]

In [7]:
X = selected_features

In [8]:
X

,koi_impact,koi_duration,koi_depth,koi_prad,koi_period,koi_teq,koi_insol,koi_model_snr
0,0.586,4.50700,874.8,2.83,54.418383,443,9.11,25.8
1,0.969,1.78220,10829.0,14.60,19.899140,638,39.30,76.3
2,1.276,2.40641,8079.2,33.46,1.736952,1395,891.96,505.6
3,0.701,1.65450,603.3,2.75,2.525592,1406,926.16,40.9
4,0.762,3.14020,686.0,2.77,4.134435,1160,427.65,40.2
...,...,...,...,...,...,...,...,...
6986,0.765,4.80600,87.7,1.11,8.589871,929,176.40,8.4
6987,1.252,3.22210,1579.2,29.35,0.527699,2088,4500.53,453.3
6988,0.043,3.11400,48.5,0.72,1.739849,1608,1585.81,10.6
6989,0.147,0.86500,103.6,1.07,0.681402,2218,5713.41,12.3
6990,0.134,3.07800,76.7,1.05,4.856035,1266,607.42,8.2

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Model

In [12]:
#  Create a Logistic Regression Mode
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [13]:

print(classifier.score(X_train_scaled,y_train))
print(classifier.score(X_test_scaled,y_test))

0.586877741750906
0.6041189931350115

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [14]:
# Create the GridSearchCV model
from sklearn.svm import SVC 
model = SVC(kernel='linear')

In [ ]:
# Train the model with GridSearch

In [15]:
print(grid2.best_params_)
print(grid2.best_score_)

NameError: name 'grid2' is not defined

# Save the Model

In [16]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'your_name.sav'
joblib.dump(your_model, filename)

NameError: name 'your_model' is not defined